<link href="./css/nav.css" rel="stylesheet" type="text/css">

<body>
    <div class="navBar">
        <input type="button" class="menuBtn">
        <img src="../../docs/media/menu.png" />
        <input>
        <img src="../../docs/media/logo.png" />
        <h1>
            <%- title %>
        </h1>
        <div class="clock"></div>
        <a class="profile" href="../pages/user_profile.ejs">
            <img src="../../docs/media/profile.png" />
        </a>
        <div class="profileDetails">

        </div>
    </div>
</body>