<link href="./css/nav.css" rel="stylesheet" type="text/css" >

<body>
  <div class="navBar">
    <input type="button" class="menuBtn" />
    <img src="../../docs/media/menu.png" /> <input />
    <img src="../../docs/media/logo.png" />
    <h1></h1>
    <div class="clock"></div>
    <img src="../../docs/media/profile.png" >
  <a class="profile" href="./profile"/>
  </img>
    
    <div class="profileDetails"></div>
  </div>
</body>
