<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
</head>

<body>
<div class="sidebar">
    <nav class="sidebar-nav ps ps--active-y">
        <ul class="nav">
            <li class="nav-item  nav-dropdown  ">
                <a class="nav-link  nav-dropdown-toggle " href="#">
                    Layout
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/layout/overview/">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/layout/grid/">
                            Grid
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/layout/media-object/">
                            Media object
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/layout/utilities-for-layout/">
                            Utilities for layout
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  nav-dropdown  ">
                <a class="nav-link  nav-dropdown-toggle " href="#">
                    Content
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/content/reboot/">
                            Reboot
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/content/typography/">
                            Typography
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/content/code/">
                            Code
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/content/images/">
                            Images
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/content/tables/">
                            Tables
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="https://coreui.io/docs/content/figures/">
                            Figures
                        </a>
                    </li>
                </ul>
            </li>
            </ul>
            </nav>
</div>
</body>
</head>

</html>

