<!DOCTYPE html>
<html>
    <head>
        <title>Brocker</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <form method="get" action="/broker/showHotels">
            <button type="submit">Show Hotels</button>
        </form>
        <form method="get" action="/broker/showHotelsRequests">
            <button type="submit">Hotels Requests</button>
        </form>
        <form method="get" action="/broker/showSuspendedHotels">
            <button type="submit">Suspended Hotels</button>
        </form>
        <form method="get" action="/broker/classAUsers">
            <button type="submit">ClassA Users</button>
        </form>
        <form method="get" action="/broker/showAllUsers">
            <button type="submit">Show Users</button>
        </form>
        <form method="get" action="/profile">
            <button type="submit">Profile</button>
        </form>
    </body>
</html>