<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div>
    <%for(var i=0 ; i<users.length ; i++){%>
    <p>-Username:<%=users[i].Username%></p>
    <form method="post" action="/broker/unSuspendUser/<%=users[i].Username%>">
        <button type="submit">unSuspend</button>
    </form>
    <%}%>
</div>
</body>
</html>