<!DOCTYPE html>
<html>
  <head>
    <title>All Hotels</title>
    <meta charset="UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div>
      <ul>
        <% for(var i=0; i<hotels.length ; i++){%>
        <li>
          <div id="<%hotels.id%>">
            <h3>hotels</h3>
            <div><p><%hotels[i]%></p></div>
            <button type="submit" onclick="suspendActivateButton(this)"> <% hotels[i].isSuspended : Suspend ? Activate %></button>
          </div>
        </li>
        <%}%>
      </ul>
    </div>
  </body>
  <script>
    function suspendActivateButton(element) {
      res_id = element.parent.id;
      $.ajax({
        type: "POST"
        //activate or suspend the hotel depending on its state
      });
    }
  </script>
</html>
