<!DOCTYPE html>
<html>
  <head>
    <title>Browse_Hotels</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
  </head>
  <body>
    <%var data=["fdhs","jhifuyds","iuyedh","8ujdck","hfjbchjbdc"];%>
    <div style="margin-top:55px"><h2>Hotels</h2></div>
    <div>
      <div class="row">
        <div class="col-md-12 text-center">
          <br />
          <input
            class="typeahead form-control"
            style="margin:0px auto;width:100%;"
            type="text"
            id="search"
          />
          <div>
            <% for(int i=0;i<Hotels.size;i++){%>
              <%if (hotels(i).name.containes(%>
              {document.getElementById(search).text}
              <%)){%>
                <div class="card">
                  <h1 class="card-header">
                    <%hotels(i).name%>
                  </h1>
                  <%}}%>
                </div>
          </div>
        </div>
      </div>
      
      
      </script>
    </div>
  </body>
</html>
