<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <% include ./partials/nav.ejs %>
        
        <div>
            <ul>
                <% for(var i=0; i< hotels.length ;i++){ %>
                <li>
                    <div>
                        <h3>Branch</h3>
                        <<button type="submit" id="premium">Premium</button>
                    </div>
                </li>
            </ul>
        </div>

    </body>

    <script>
        $(document).ready(function(){
            $("#premium").
        });
    </script>

</html>