<!DOCTYPE html>
<html>
  <head>
    <title>Browse_Hotels</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <% include ../partials/nav.ejs%>
    <div style="margin-top:55px"><h2>Hotels</h2></div>
  </body>
</html>
