<!DOCTYPE html>
<html lang="en">

<head>
    <title>Checkins</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <% include ../partials/nav.ejs%>
        <input type="text" placeholder="Search..">
        <div>
            <ul>
                <% for(var i=0; i<reservations.length ; i++){%>
                    <li>
                        <div>
                            <h3><%=reservations[i].number%></h3>
                            <form method="post" name="checkIn">
                                <button type="submit" class="btn">CheckIn</button>
                            </form>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>

</body>

</html>