<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <% include('../partials/nav.ejs') %>
  <div>
    <h2>Login</h2>
    <form method="post" action="/login" name="login_form">
      <div class="input-group">
        <input type="text" name="username" placeholder="Username" required />
      </div>

      <div class="input-group">
        <input type="password" name="password" placeholder="Password" required/>
      </div>
      <div>
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>