<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Owner_Hotels</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <% if (role==="Owner"){%>
      <div><% include ../partials/owner_nav.ejs%></div>
      <%}else if(role==="Broker"){%>
      <div><% include ../partials/broker_nav.ejs%></div>
      <%}else if(role==="Customer"){%>
      <div><%include ../partials/customer_nav.ejs%></div>
      <%}%>
    </div>

    <div>
      <div><button type="submit" id="addHotel">Add New Hotel</button></div>
      <ul>
        <% for(var i=0; i< hotels.length ;i++){ %>
        <li>
          <div>
            <h3>hotels.branch_name</h3>
            <button type="submit" id="premium">Premium</button>
            <button type="submit" id="editHotel">Edit</button>
          </div>
        </li>
        <%}%>
      </ul>
    </div>
  </body>

  <script></script>
</html>
