<!DOCTYPE html>
<html lang="en">

<head>
    <title>Past Reservation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <% include ../partials/nav.ejs%>
    <input type="text" placeholder="Search..">
    <div>
        <ul>
            <% for(var i=0; i<reservation.length ; i++){%>
            <li>
                <div>
                    <h3>reservation[i]</h3>
                    <% if(reservation[i].isChecked_in ===0) {%>
                    <input type="submit" class="btn" name="cancel">cancel<input>
                    <%}%>
                </div>
            </li>
            <%}%>
        </ul>
    </div>

</body>

</html>