<!DOCTYPE html>
<html>
    <head>
        <title>Reservations</title>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <% include ../partials/nav.ejs %>

    <div>
        <ul>
            <% for(var i=0; i<reservations.length ;i++){ %>
                <li>
                    <div id="<%reservations.id%>">
                        <h3>Reservation</h3>
                        <div>
                            <p><%reservations[i]%></p>
                        </div>
                        <button type="submit" onclick="approveButton(this)">Approve</button>
                    </div>
                </li>
            <%}%>
        </ul>
    </div>
    </body>
    <script>
        function approveButton(element){
            res_id = element.parent.id;
            $.ajax({
                type: 'POST',
                //send reservation request and send boolean to let the post request know
                //that it is the type of button used
            });

        }
    </script>
</html>