<!DOCTYPE html>
<html>

<head>
    <title>Rooms</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <% include ../partials/nav.ejs%>
    <div>
        <ul>
            <% for(var i=0; i<rooms.length ; i++){%>
            <li>
                <% if(rooms[i].isbooked === true){%>
                <div>
                    <h3><%=rooms[i].number%></h3>
                    <form method="post" name="bookRoom">
                          <button type="submit" class="btn" name="bookRoom">Unbook</button>
                    </form>
                </div>
                
                <%} else {%>
                <div>
                    <h3><%=rooms[i].number%></h3>
                    <form method="post" name="bookRoom">
                        <button type="submit" class="btn" name="bookRoom">Book</button>
                    </form>
                </div>
                <%}%>
            </li>
            <%}%>
        </ul>
    </div>
</body>
</html>