<!DOCTYPE html>
<html lang="en">

<head>
    <title>Statistics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <% if (role==="Owner"){%>
            <div>
                <% include ../partials/owner_nav.ejs%>
            </div>
            <%}else if(role==="Broker"){%>
                <div>
                    <% include ../partials/broker_nav.ejs%>
                </div>
                <%}else if(role==="Customer"){%>
                    <div>
                        <%include ../partials/customer_nav.ejs%>
                    </div>
                    <%}%>
    </div>
        <input type="text" placeholder="Search..">
        <div>
            <ul>
                <% for(var i=0; i<hotels.length ; i++){%>
                    <li>
                        <div>
                            <h2>
                                <%=hotels[i].name%>
                            </h2>
                            <h3>
                                <%= hotels[i].cash%>
                            </h3>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>

</body>

</html>